/.idea/.gitignore
/.idea/.name
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/glfw/deps/mingw/_mingw_dxhelper.h
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.exe
/glfw/docs/html/search/all_0.js
/glfw/docs/html/search/all_1.js
/glfw/docs/html/search/all_2.js
/glfw/docs/html/search/all_3.js
/glfw/docs/html/search/all_4.js
/glfw/docs/html/search/all_5.js
/glfw/docs/html/search/all_6.js
/glfw/docs/html/search/all_7.js
/glfw/docs/html/search/all_8.js
/glfw/docs/html/search/all_9.js
/glfw/docs/html/search/all_10.js
/glfw/docs/html/search/all_11.js
/glfw/docs/html/search/all_a.js
/glfw/docs/html/search/all_b.js
/glfw/docs/html/search/all_c.js
/glfw/docs/html/search/all_d.js
/glfw/docs/html/search/all_e.js
/glfw/docs/html/search/all_f.js
/glfw/docs/html/bc_s.png
/glfw/docs/html/bc_sd.png
/.idea/black-hole.iml
/cmake-build-debug/black_hole.exe
/glfw/examples/boing.c
/glfw/docs/build.dox
/cmake-build-debug/build.ninja
/glfw/docs/html/build_8dox.html
/glfw/docs/html/build_guide.html
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-5d839cd54ca1a27bb75e.json
/glfw/docs/html/search/classes_0.js
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/glfw/tests/clipboard.c
/glfw/docs/html/search/close.svg
/glfw/docs/html/closed.png
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/glfw/src/cmake_install.cmake
/cmake-build-debug/glfw/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/glfw/cmake_uninstall.cmake
/glfw/cmake_uninstall.cmake.in
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-bd74d30e53511c157c61.json
/glfw/docs/CMakeLists.txt
/glfw/examples/CMakeLists.txt
/glfw/src/CMakeLists.txt
/glfw/tests/CMakeLists.txt
/glfw/CMakeLists.txt
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/glfw/src/cocoa_init.m
/glfw/src/cocoa_joystick.h
/glfw/src/cocoa_joystick.m
/glfw/src/cocoa_monitor.m
/glfw/src/cocoa_platform.h
/glfw/src/cocoa_time.c
/glfw/src/cocoa_window.m
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a53a2cc0639c08b9b53d.json
/glfw/docs/compat.dox
/glfw/docs/html/compat_8dox.html
/glfw/docs/html/compat_guide.html
/glfw/docs/compile.dox
/glfw/docs/html/compile_8dox.html
/glfw/docs/html/compile_guide.html
/glfw/src/context.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/context.c.obj
/glfw/docs/context.dox
/glfw/docs/html/context_8dox.html
/glfw/docs/html/context_guide.html
/glfw/docs/CONTRIBUTING.md
/glfw/CONTRIBUTORS.md
/glfw/tests/cursor.c
/glfw/docs/html/search/defines_0.js
/glfw/docs/html/deprecated.html
/glfw/deps/mingw/dinput.h
/glfw/docs/html/dir_2dcebcdf14b42e92a6ed85c61bda6b9d.html
/glfw/docs/html/dir_62ce056722ee97c199075aa1d6eca309.html
/glfw/docs/html/dir_08423ce7729c4554356a7de7171ba263.html
/glfw/docs/html/dir_dddf4cf62655095a666cf715de3a31a2.html
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-glfw.src-Debug-9578e1e3bbac28642e54.json
/cmake-build-debug/.cmake/api/v1/reply/directory-glfw-Debug-6409d1a1234a02aa1933.json
/glfw/docs/html/doc.svg
/glfw/docs/html/docd.svg
/glfw/docs/Doxyfile.in
/glfw/docs/html/doxygen.css
/glfw/docs/html/doxygen.svg
/glfw/docs/DoxygenLayout.xml
/glfw/docs/html/dynsections.js
/glfw/src/egl_context.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
/glfw/src/egl_context.h
/glfw/tests/empty.c
/glfw/tests/events.c
/glfw/docs/html/extra.css
/glfw/docs/extra.css
/glfw/docs/extra.css.map
/glfw/docs/extra.scss
/glfw/docs/html/files.html
/glfw/docs/html/search/files_0.js
/glfw/docs/html/search/files_1.js
/glfw/docs/html/search/files_2.js
/glfw/docs/html/search/files_3.js
/glfw/docs/html/search/files_4.js
/glfw/docs/html/search/files_5.js
/glfw/docs/html/search/files_6.js
/glfw/docs/html/search/files_7.js
/glfw/docs/html/search/files_8.js
/glfw/CMake/modules/FindEpollShim.cmake
/glfw/CMake/modules/FindOSMesa.cmake
/glfw/CMake/modules/FindWaylandProtocols.cmake
/glfw/CMake/modules/FindXKBCommon.cmake
/glfw/docs/html/folderclosed.svg
/glfw/docs/html/folderclosedd.svg
/glfw/docs/html/folderopen.svg
/glfw/docs/html/folderopend.svg
/glfw/docs/footer.html
/glfw/docs/html/search/functions_0.js
/glfw/tests/gamma.c
/glfw/examples/gears.c
/glfw/CMake/GenerateMappings.cmake
/glfw/deps/getopt.c
/glfw/deps/getopt.h
/glfw/deps/glad/gl.h
/glfw/deps/glad_gl.c
/glfw/deps/glad_vulkan.c
/glfw/examples/glfw.icns
/glfw/examples/glfw.ico
/glfw/examples/glfw.rc
/glfw/include/GLFW/glfw3.h
/cmake-build-debug/glfw/src/glfw3.pc
/glfw/src/glfw3.pc.in
/glfw/docs/html/glfw3_8h.html
/glfw/docs/html/glfw3_8h_source.html
/cmake-build-debug/glfw/src/glfw3Config.cmake
/glfw/src/glfw3Config.cmake.in
/cmake-build-debug/glfw/src/glfw3ConfigVersion.cmake
/glfw/include/GLFW/glfw3native.h
/glfw/docs/html/glfw3native_8h.html
/glfw/docs/html/glfw3native_8h_source.html
/cmake-build-debug/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
/cmake-build-debug/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-debug.cmake
/cmake-build-debug/glfw/src/glfw_config.h
/glfw/src/glfw_config.h.in
/glfw/tests/glfwinfo.c
/glfw/src/glx_context.c
/glfw/src/glx_context.h
/glfw/docs/html/group__buttons.html
/glfw/docs/html/group__context.html
/glfw/docs/html/group__errors.html
/glfw/docs/html/group__gamepad__axes.html
/glfw/docs/html/group__gamepad__buttons.html
/glfw/docs/html/group__hat__state.html
/glfw/docs/html/group__init.html
/glfw/docs/html/group__input.html
/glfw/docs/html/group__joysticks.html
/glfw/docs/html/group__keys.html
/glfw/docs/html/group__mods.html
/glfw/docs/html/group__monitor.html
/glfw/docs/html/group__native.html
/glfw/docs/html/group__shapes.html
/glfw/docs/html/group__vulkan.html
/glfw/docs/html/group__window.html
/glfw/docs/html/search/groups_0.js
/glfw/docs/html/search/groups_1.js
/glfw/docs/html/search/groups_2.js
/glfw/docs/html/search/groups_3.js
/glfw/docs/html/search/groups_4.js
/glfw/docs/html/search/groups_5.js
/glfw/docs/html/search/groups_6.js
/glfw/docs/html/search/groups_7.js
/glfw/docs/html/search/groups_8.js
/glfw/docs/html/search/groups_9.js
/glfw/docs/html/search/groups_a.js
/glfw/docs/header.html
/glfw/examples/heightmap.c
/glfw/CMake/i686-w64-mingw32.cmake
/glfw/CMake/i686-w64-mingw32-clang.cmake
/glfw/tests/icon.c
/glfw/tests/iconify.c
/glfw/docs/html/index.html
/cmake-build-debug/.cmake/api/v1/reply/index-2024-02-10T14-22-55-0023.json
/glfw/src/init.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/init.c.obj
/glfw/src/input.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/input.c.obj
/glfw/docs/input.dox
/glfw/docs/html/input_8dox.html
/glfw/docs/html/input_guide.html
/glfw/tests/inputlag.c
/glfw/docs/internal.dox
/glfw/src/internal.h
/glfw/docs/html/internal_8dox.html
/glfw/docs/html/internals_guide.html
/glfw/docs/intro.dox
/glfw/docs/html/intro_8dox.html
/glfw/docs/html/intro_guide.html
/glfw/tests/joysticks.c
/glfw/docs/html/jquery.js
/glfw/deps/glad/khrplatform.h
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/glfw/src/libglfw3.a
/glfw/LICENSE.md
/glfw/deps/linmath.h
/glfw/src/linux_joystick.c
/glfw/src/linux_joystick.h
/glfw/CMake/MacOSXBundleInfo.plist.in
/glfw/docs/html/search/mag.svg
/glfw/docs/html/search/mag_d.svg
/glfw/docs/html/search/mag_sel.svg
/glfw/docs/html/search/mag_seld.svg
/cmake-build-debug/CMakeFiles/black_hole.dir/main.cpp.obj
/glfw/docs/main.dox
/glfw/docs/html/main_8dox.html
/glfw/src/mappings.h
/glfw/src/mappings.h.in
/glfw/docs/html/menu.js
/glfw/docs/html/menudata.js
/.idea/misc.xml
/glfw/docs/html/modules.html
/.idea/modules.xml
/glfw/src/monitor.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
/glfw/docs/monitor.dox
/glfw/docs/html/monitor_8dox.html
/glfw/docs/html/monitor_guide.html
/glfw/tests/monitors.c
/glfw/docs/moving.dox
/glfw/docs/html/moving_8dox.html
/glfw/docs/html/moving_guide.html
/glfw/tests/msaa.c
/glfw/docs/html/nav_f.png
/glfw/docs/html/nav_fd.png
/glfw/docs/html/nav_g.png
/glfw/docs/html/nav_h.png
/glfw/docs/html/nav_hd.png
/glfw/docs/news.dox
/glfw/docs/html/news.html
/glfw/docs/html/news_8dox.html
/glfw/src/nsgl_context.h
/glfw/src/nsgl_context.m
/glfw/deps/nuklear.h
/glfw/deps/nuklear_glfw_gl2.h
/glfw/src/null_init.c
/glfw/src/null_joystick.c
/glfw/src/null_joystick.h
/glfw/src/null_monitor.c
/glfw/src/null_platform.h
/glfw/src/null_window.c
/glfw/examples/offscreen.c
/glfw/tests/opacity.c
/glfw/docs/html/open.png
/glfw/src/osmesa_context.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
/glfw/src/osmesa_context.h
/glfw/docs/html/pages.html
/glfw/docs/html/search/pages_0.js
/glfw/docs/html/search/pages_1.js
/glfw/docs/html/search/pages_2.js
/glfw/docs/html/search/pages_3.js
/glfw/docs/html/search/pages_4.js
/glfw/docs/html/search/pages_5.js
/glfw/docs/html/search/pages_6.js
/glfw/docs/html/search/pages_7.js
/glfw/docs/html/search/pages_8.js
/glfw/docs/html/search/pages_9.js
/glfw/docs/html/search/pages_a.js
/glfw/examples/particles.c
/glfw/src/posix_thread.c
/glfw/src/posix_thread.h
/glfw/src/posix_time.c
/glfw/src/posix_time.h
/glfw/docs/quick.dox
/glfw/docs/html/quick_8dox.html
/glfw/docs/html/quick_guide.html
/glfw/README.md
/glfw/tests/reopen.c
/cmake-build-debug/CMakeFiles/rules.ninja
/glfw/docs/html/search/search.css
/glfw/docs/html/search/search.js
/glfw/docs/html/search/searchdata.js
/glfw/examples/sharing.c
/glfw/examples/simple.c
/glfw/docs/html/spaces.svg
/glfw/docs/spaces.svg
/glfw/docs/html/splitbar.png
/glfw/docs/html/splitbard.png
/glfw/examples/splitview.c
/glfw/deps/stb_image_write.h
/glfw/deps/vs2008/stdint.h
/glfw/docs/html/struct_g_l_f_wgamepadstate.html
/glfw/docs/html/struct_g_l_f_wgammaramp.html
/glfw/docs/html/struct_g_l_f_wimage.html
/glfw/docs/html/struct_g_l_f_wvidmode.html
/glfw/docs/SUPPORT.md
/glfw/docs/html/sync_off.png
/glfw/docs/html/sync_on.png
/glfw/docs/html/tab_a.png
/glfw/docs/html/tab_ad.png
/glfw/docs/html/tab_b.png
/glfw/docs/html/tab_bd.png
/glfw/docs/html/tab_h.png
/glfw/docs/html/tab_hd.png
/glfw/docs/html/tab_s.png
/glfw/docs/html/tab_sd.png
/glfw/docs/html/tabs.css
/cmake-build-debug/.cmake/api/v1/reply/target-black_hole-Debug-4525196606ec3679e977.json
/cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-9e4f3b8b0473557b93af.json
/cmake-build-debug/.cmake/api/v1/reply/target-uninstall-Debug-eb64fe02bcfab3fa4718.json
/cmake-build-debug/.cmake/api/v1/reply/target-update_mappings-Debug-43a731a1ec49db5421c8.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/glfw/tests/tearing.c
/test.h
/glfw/tests/threads.c
/glfw/tests/timeout.c
/glfw/deps/tinycthread.c
/glfw/deps/tinycthread.h
/glfw/tests/title.c
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-9ef62694698f55208672.json
/glfw/tests/triangle-vulkan.c
/glfw/docs/html/search/typedefs_0.js
/glfw/docs/html/search/variables_0.js
/glfw/docs/html/search/variables_1.js
/glfw/docs/html/search/variables_2.js
/glfw/docs/html/search/variables_3.js
/glfw/docs/html/search/variables_4.js
/glfw/docs/html/search/variables_5.js
/glfw/docs/html/search/variables_6.js
/glfw/docs/html/search/variables_7.js
/.idea/vcs.xml
/glfw/deps/glad/vk_platform.h
/glfw/src/vulkan.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
/glfw/docs/vulkan.dox
/glfw/deps/glad/vulkan.h
/glfw/docs/html/vulkan_8dox.html
/glfw/docs/html/vulkan_guide.html
/glfw/examples/wave.c
/glfw/src/wgl_context.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
/glfw/src/wgl_context.h
/glfw/src/win32_init.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
/glfw/src/win32_joystick.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
/glfw/src/win32_joystick.h
/glfw/src/win32_monitor.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
/glfw/src/win32_platform.h
/glfw/src/win32_thread.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
/glfw/src/win32_time.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
/glfw/src/win32_window.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
/glfw/src/window.c
/cmake-build-debug/glfw/src/CMakeFiles/glfw.dir/window.c.obj
/glfw/docs/window.dox
/glfw/docs/html/window_8dox.html
/glfw/docs/html/window_guide.html
/glfw/tests/windows.c
/glfw/src/wl_init.c
/glfw/src/wl_monitor.c
/glfw/src/wl_platform.h
/glfw/src/wl_window.c
/glfw/src/x11_init.c
/glfw/src/x11_monitor.c
/glfw/src/x11_platform.h
/glfw/src/x11_window.c
/glfw/CMake/x86_64-w64-mingw32.cmake
/glfw/CMake/x86_64-w64-mingw32-clang.cmake
/glfw/deps/mingw/xinput.h
/glfw/src/xkb_unicode.c
/glfw/src/xkb_unicode.h
